{% load i18n %}
<form id="password-change-form"
      class="form PasswordChangeForm"
      hx-post="{% url 'change-password' %}"
      hx-target="this"
      hx-swap="outerHTML">
  {{ form.non_field_errors }}
  <div class="form__field-group">
    <div class="field-group__item">{{ form.old_password.as_field_group }}</div>
    <div class="field-group__item">{{ form.new_password.as_field_group }}</div>
    <div class="field-group__item">{{ form.new_password_confirm.as_field_group }}</div>
  </div>
  <div class="Dialog-actions">
    <button type="button" class="Button Button--ghost" data-dialog-close>{% translate "Cancel" %}</button>
    <button class="Button Button--accent" type="submit">{% translate "Update password" %}</button>
  </div>
</form>
