{% extends "core/layouts/layout_with_sidebar.html" %}
{% load i18n %}
{% load lucide %}
{% load static %}
{% block content %}
  <section>
    <header class="SectionHeader SectionHeader--center">
      <h1 class="test-score__title">{% translate "Estimate your test success" %}</h1>
    </header>
    <form class="SuccessEstimateForm"
          method="post"
          action="{% url 'test-success-estimate' test.pk %}">
      {% csrf_token %}
      <div class="form__field-group">
        <div class="field-group__item">
          {{ form.success_estimate.label_tag }}
          <div class="helptext">{{ form.success_estimate.help_text }}</div>
          {{ form.success_estimate.errors }}
          <div class="Form-percentageField">
            <div class="Form-percentageField-slider">
              <span>0 %</span> {{ form.success_estimate }} <span>100 %</span>
            </div>
            <input class="Form-percentageField-value"
                   type="number"
                   min="0"
                   max="100"
                   value="50" />
          </div>
        </div>
        <button class="Button Button--accent" type="submit">{% translate "Submit test" %}</button>
      </div>
    </form>
  </section>
{% endblock content %}
{% block scripts %}
  <script src="{% static 'core/js/percentage-input.js' %}"></script>
{% endblock scripts %}
